.rgpd-page__main {
  padding: 2rem;
  
  max-width: 100ch;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin: 2rem 0;
  }

  h2 {
    margin-top: 2rem;
  }

  p {
    text-align: justify;
  }
}

