# Port du serveur API (http://localhost:PORT)
PORT=3000

# Adresse de connexion à la base de donnée postgreSQL au format user:password@host:port/database
DATABASE_URL="postgresql://lapince:lapince@localhost:5432/la_pince?schema=public"

# Utilisé par jsonwebtoken chiffrer les tokens
JWT_SECRET=dev-secret

# Url de la page front
# Utilisée seulement quand NODE_ENV=production pour le déploiement
# Indispensable pour autoriser la page dans la politique CORS
PRODUCTION_CLIENT_URL=https://la-pince-1suz.onrender.com